.landing-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/18278139_10213240237580876_7784483974378534414_o.jpg?oh=eabbed5f5fd77a12fc465ead2e63dbdc&oe=5B13EA22);
    background-repeat: repeat;
    background-size: 100px 100px;
}
