.outer-card {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 20%;
}

h1 {
  margin: 0 auto;
}

.aqi-box {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 28px;
  text-align: center;
}
