/* You can add global styles to this file, and also import other style files */

$background-color-primary: #16174f;
$header-primary: #667467;
$mat-card-primary: #963019;
$header-color-primary: #f6f1ed;


body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
